{% extends "blog/base.html" %}

{% load static %}

{% block title %}Blog - Post List{% endblock %}

{% block content %}
  <h2>Blog Posts</h2>
  {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
  {% else %}
    <p>You are not logged in.</p>
  {% endif %}

  {% for post in posts %}
    <article>
      <div class="post-photo">
        {% if post.photo %}
          <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="post-img">
        {% else %}
          <img src="{% static 'default_image.jpg' %}" alt="Default image">
        {% endif %}
      </div>

      <div class="post-body">
        <h3><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h3>
        <div class="post-info">
          <p>
            <small>
              {% if post.publish %}
                Published {{ post.publish|date:"F j, Y" }}
              {% endif %}
              {% if post.author %}
                by {{ post.author }}
              {% endif %}
            </small>
          </p>
          {% if post.status %}
            <p>Status: {{ post.get_status_display }}</p>
          {% endif %}
        </div>
        <p>
          {{ post.body|slice:150 }}{% if post.body|length > 150 %}...{% endif %}
          {% if post.body|length > 150 %}
            <a href="{% url 'blog:post_detail' post.id %}" class="read-more">Read More</a>
          {% endif %}
        </p>

        <!-- Like and Share Icons -->
        <div class="post-actions">
          {% if post.id in liked_posts %}
          <!-- If the user has liked the post, show a 'dislike' button -->
          <a href="{% url 'blog:like_post' post.id %}" class="like-btn">
            <i class="fa fa-thumbs-down"></i> Dislike
          </a>
        {% else %}
          <!-- If the user hasn't liked the post, show a 'like' button -->
          <a href="{% url 'blog:like_post' post.id %}" class="like-btn">
            <i class="fa fa-thumbs-up"></i> Like
          </a>
        {% endif %}
            <!-- Share Post via Email Form -->
        <form method="POST" action="{% url 'blog:share_post_via_email' post.id %}">
          {% csrf_token %}
          <label for="email">Share this post via email:</label>
          <input type="email" name="email" id="email" required placeholder="Enter recipient's email">
          <button type="submit" class="share-btn">
            <i class="fa fa-share-alt"></i> Share via Email
          </button>
        </form>
        </div>
      </div>
    </article>
  {% endfor %}
{% endblock %}
